@{
    ViewBag.Title = "Ops!";
    Layout = "~/Views/shared/_LayoutEmpty.cshtml";
}

<h4>
    <span class="text-danger">projeto</span> <small>ops!</small>
</h4>

<hr />

<p class="text-center">Não autorizado.</p>

<hr />

<a href="@Url.Action("Index", "Home")" class="btn btn-link"><span class="glyphicon glyphicon-home"></span>&nbsp; Inicio</a>
<a href="@Url.Action("LogOn", "Login")" class="btn btn-link"><span class="glyphicon glyphicon-log-in"></span>&nbsp; Acessar o sistema</a>