<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Library.Net.Data" version="1.0.0.1" targetFramework="net45" />
  <package id="Library.Net.IoC" version="1.0.0.1" targetFramework="net45" />
  <package id="Library.Net.IoC.StructureMap" version="1.0.0.0" targetFramework="net45" />
  <package id="structuremap" version="2.6.4.1" targetFramework="net45" />
</packages>