<div id="footer">
    <div class="container">
        <p class="muted credit">&copy; <a href="http://junioro.wordpress.com" rel="author">Júnior Oliveira</a> @DateTime.Now.ToString("yyyy").</p>
    </div>
</div>