@model Demo.Web.Models.Account.ForgotPasswordViewModel
@{
    ViewBag.Title = "Esqueci minha senha";
    Layout = "~/Views/shared/_LayoutEmpty.cshtml";
}
<h4><span class="text-info">projeto</span><small> esqueci minha senha</small></h4>
<hr />
@using (Html.BeginForm()) {
    Html.ValidationSummary(true);
    <fieldset class="form-horizontal">
        <div class="control-group">
            @Html.LabelFor(m => m.Email, new { @class = "control-label" })
            <div class="controls">
                <div class="input-prepend">
                    <span class="add-on"><i class="icon-envelope"></i></span>
                    @Html.TextBoxFor(m => m.Email, new { @class = "input-xlarge" })
                </div>
                @Html.ValidationMessageFor(m => m.Email, null, new { @class = "help-inline" })
            </div>
        </div>
        <div class="form-actions">
            <a class="btn btn-link" href="@Url.Action("LogOn", "Login")"><i class="icon-circle-arrow-left"></i> Voltar</a>
            <button type="submit" class="btn btn-success pull-right"><i class="icon-ok-sign icon-white"></i> Enviar</button>
        </div>
    </fieldset>
}